/*******************************************************************************
 * Reset & base theme
 ******************************************************************************/

@import './pico.grey.min.css';

/*******************************************************************************
 * Global
 ******************************************************************************/

body {
  display: grid;
  /* Stretch vertically to fill window */
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
  padding: 20px;
}

body>main, main {
  border-bottom: 1px solid #ddd;
  padding-top: 0;
}

body>header, header {
  padding-bottom: 0;
}

nav {
  display: inline-flex;
  gap: 1em;
  padding-bottom: 1em;
}

nav a:not(.active) {
  text-decoration: none;
}

section {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin: 0;
}

output {
  font-size: xx-large;
  font-weight: bold;
  font-family: monospace;
  padding: 1em;
}

li > span:hover {
  opacity: 0.8;
}

form > * {
  display: inline-block;
}

li > button {
  padding: 2px 8px 1px;
  margin-left: 10px;
}

/*******************************************************************************
 * Apps
 ******************************************************************************/

.todos form {
  max-width: 512px;
}

.todos form input {
  width: 78%;
}

.todos form button {
  width: 20%;
  margin-left: 2%;
}

.todos li {
  cursor: pointer;
}

.todos,
.scope,
.scope .grid > div,
x3d {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.scope > button {
  grid-column: 1 / -1;
  font-size: smaller;
  padding: 6px 16px;
  margin-bottom: 18px;
}
