
/*******************************************************************************
 * Reset & base theme
 ******************************************************************************/

@import './pico.grey.min.css';

/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  padding: 20px;
}

body>main, main {
  border-bottom: 1px solid #ddd;
  padding-top: 0;
}

body>header, header {
  padding-bottom: 0;
}

nav {
  display: inline-flex;
  gap: 1em;
  padding-bottom: 1em;
}

nav a.active {
  text-decoration: underline;
}

section {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin: 0;
}

@media (max-width: 768px) {
  section.grid > :not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
  }
}

@media (min-width: 769px) {
  section.grid > :not(:last-child) {
    border-right: 1px solid #ddd;
  }
}


/*******************************************************************************
 * General
 ******************************************************************************/

output {
  font-size: xx-large;
  font-weight: bold;
  font-family: monospace;
  padding: 1em;
}

li > span:hover {
  opacity: 0.8;
}

form > * {
  display: inline-block;
}

li > button {
  padding: 2px 8px 1px;
  margin-left: 10px;
}

/*******************************************************************************
 * Apps
 ******************************************************************************/

.todos form {
  max-width: 512px;
}

.todos form input {
  width: 78%;
}

.todos form button {
  width: 20%;
  margin-left: 2%;
}

.todos li {
  cursor: pointer;
}

