
/*******************************************************************************
 * Reset & base theme
 ******************************************************************************/

@import './pico.grey.min.css';

/*******************************************************************************
 * Global
 ******************************************************************************/

header {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0 ,0.1);
}

h1 {
  font-size: 150%;
  font-weight: normal;
  margin: 0 1em 0 1em;
}

main {
  padding-top: 0;
}

section {
  padding: 1.75rem 0;
  margin: 0;
}

output {
  font-size: xx-large;
  font-weight: bold;
  font-family: monospace;
  padding: 1em;
}

li > span:hover {
  opacity: 0.8;
}

form > * {
  display: inline-block;
}

li > button {
  padding: 2px 8px 1px;
  margin-left: 10px;
}

button {
  margin-bottom: 10px;
}

/*******************************************************************************
 * Apps
 ******************************************************************************/

.todos form {
  max-width: 512px;
}

.todos form input {
  width: 78%;
}

.todos form button {
  width: 20%;
  margin-left: 2%;
}

.todos ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.5em;
  margin: 0;
}

.todos li {
  cursor: pointer;
  margin-bottom: 0;
}

.todos li button {
  float: right;
  margin-bottom: 0;
}

.todos,
.scope,
.scope .grid > div,
x3d {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.scope > button {
  grid-column: 1 / -1;
  font-size: smaller;
  padding: 6px 16px;
  margin-bottom: 18px;
}

